script(type='text/javascript', src='/socket.io/socket.io.js') 
//Ace Theme

//[if !IE]><!
script(type="text/javascript").
script(type='text/javascript', src='/lib/ace/js/jquery.min.noie.js')
script(type="text/javascript").
  window.jQuery || document.write("<script src='/lib/ace/js/jquery-2.0.3.min.js'>"+"<"+"/script>");
//<![endif]

//[if IE]><!
  script(type='text/javascript', src='/lib/ace/js/jquery.min.ie.js')
  script(type="text/javascript").
    window.jQuery || document.write("<script src='/lib/ace/js/jquery-1.10.2.min.js'>"+"<"+"/script>"); 
//<![endif]

script(type='text/javascript').
  if("ontouchend" in document) document.write("<script src='/lib/ace/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");

//AngularJS
script(type='text/javascript', src='/lib/angular/angular.js')
script(type='text/javascript', src='/lib/angular-cookies/angular-cookies.js')
script(type='text/javascript', src='/lib/angular-resource/angular-resource.js')

//Angular-socket-io
script(type='text/javascript', src='/lib/angular-socket-io/socket.js')

//Angular UI
script(type='text/javascript', src='/lib/angular-bootstrap/ui-bootstrap.js')
script(type='text/javascript', src='/lib/angular-bootstrap/ui-bootstrap-tpls.js')
script(type='text/javascript', src='/lib/angular-ui-utils/modules/route/route.js')

//Angular utils & libs
script(type='text/javascript', src='/lib/hers-utils/index.js')
script(type='text/javascript', src='/lib/hers-utils/filters.js')
script(type='text/javascript', src='/lib/ng-grid/ng-grid-2.0.7.debug.js')

//Application Init
script(type='text/javascript', src='/js/app.js')
script(type='text/javascript', src='/js/config.js')
script(type='text/javascript', src='/js/filters.js')

//Application Services
script(type='text/javascript', src='/js/services/global.js')
script(type='text/javascript', src='/js/services/articles.js')
script(type='text/javascript', src='/js/services/servers.js')
script(type='text/javascript', src='/js/services/pokertemplates.js')
script(type='text/javascript', src='/js/services/slottemplates.js')

//Application Controllers
script(type='text/javascript', src='/js/controllers/pokertemplates.js')
script(type='text/javascript', src='/js/controllers/slottemplates.js')
script(type='text/javascript', src='/js/controllers/servers.js')
script(type='text/javascript', src='/js/controllers/articles.js')
script(type='text/javascript', src='/js/controllers/index.js')
script(type='text/javascript', src='/js/controllers/header.js')
script(type='text/javascript', src='/js/init.js')

script(type='text/javascript', src='/js/directives.js')

//HERS angular
script(type='text/javascript', src='/lib/hersangularclient/angular.js')
script(type="text/javascript").
    angular.module('HERS').run(function(go){go();});

if (req.host=='localhost')
    //Livereload script rendered 
    script(type='text/javascript', src='http://localhost:35729/livereload.js')

//Ace Theme
script(type='text/javascript', src='/lib/ace/js/bootstrap.min.js')

//script(type='text/javascript', src='/lib/ace/js/jquery-ui-1.10.3.custom.min.js')
script(type='text/javascript', src='/lib/ace/js/jquery.ui.touch-punch.min.js')

script(type='text/javascript', src='/lib/ace/js/jquery.slimscroll.min.js')
//script(type='text/javascript', src='/lib/ace/js/jquery.easy-pie-chart.min.js')
script(type='text/javascript', src='/lib/ace/js/jquery.sparkline.min.js')
script(type='text/javascript', src='/lib/ace/js/flot/jquery.flot.min.js')
script(type='text/javascript', src='/lib/ace/js/flot/jquery.flot.pie.min.js')
script(type='text/javascript', src='/lib/ace/js/flot/jquery.flot.resize.min.js')

script(type='text/javascript', src='/lib/ace/js/ace-elements.min.js')
script(type='text/javascript', src='/lib/ace/js/ace.min.js')
