ul.nav.ace-nav.pull-right
  li.light-blue
    a.dropdown-toggle(data-toggle="dropdown" href="#")
      span.user-info
        small
          |Welcome,
        span#user-name
      i.icon-caret-down
    ul.user-menu.pull-right.dropdown-menu.dropdown-yellow.dropdown-caret.dropdown-closer
      li
        a(href="/signout")
          i.icon-off
          |Logout
