ul.nav.ace-nav.pull-right
  li.grey
    a.dropdown-toggle(href="#" data-toggle="dropdown")
      i.icon-tasks
      span.badge.badge-grey
        |4
    ul.pull-right.dropdown-navbar.dropdown-menu.dropdown-caret.dropdown-closer
      li.nav-header
        i.icon-ok
        |4 Tasks to complete
      li
        a(href="#")
          .clearfix
            span.pull-left
              |Software Update
            span.pull-right
              |65%
          .progress.progress-mini
            .bar(style="width:65%")          
  li.porple
    a.dropdown-toggle(href="#" data-toggle="dropdown")
      i.icon-bell-alt.icon-animated-bell
      span.badge.badge-important
        |8
    ul.pull-right.dropdown-navbar.navbar-pink.dropdown-menu.dropdown-caret.dropdown-closer
      li.nav-header
        i.icon-warning-sign
        | 8 Notifications
      li
        a(href="#")
          .clearfix
            span.pull-left
              i.btn.btn-mini.no-hover.btn-pink.icon-comment
              |New Comments
      li
        a(href="#")
          i.btn.btn-mini.btn-primary.icon-user
          | Alex Murgo just signed up  ...
      li
        a(href="#")
          .clearfix
            span.pull-left
              i.btn.btn-mini.no-hover.btn-success.icon-shopping-cart
              | New Orders
      li
        a(href="#")
          .clearfix
            span.pull-left
              i.btn.btn-mini.no-hover.btn-info.icon-twitter
              | Followers
      li
        a(href="#")
         |See all notifications 
         i.icon-arrow-right
  li.green
    a.dropdown-toggle(href="#" data-toggle="dropdown")
      i.icon-envelope.icon-animated-vertical
      span.badge.badge-success
        |5
    ul.pull-right.dropdown-navbar.dropdown-menu.dropdown-caret.dropdown-closer
      li.nav-header
        i.icon-envelope-alt
        |5 Messages
      li
        a(href="#")
          img.msg-photo(src="/lib/ace/avatars/avatar.png" alt="Alex's Avatar")
          span.msg-body
            span.msg-title
              span.blue
                |Alex: 
              | Ciao sociis natoque penatibus et auctor ...
            span.msg-time
              i.icon-time
              span
              |a moment ago
      li
        a(href="#")
          img.msg-photo(src="/lib/ace/avatars/avatar3.png" alt="Susan's Avatar")
          span.msg-body
            span.msg-title
              span.blue
                |Susan: 
              | Vestibulum id ligula porta felis euismod ...
            span.msg-time
              i.icon-time
              span
              |20 minutes ago
      li
        a(href="#")
          img.msg-photo(src="/lib/ace/avatars/avatar4.png" alt="Bob's Avatar")
          span.msg-body
            span.msg-title
              span.blue
                |Bob: 
              | Nullam quis risus eget urna mollis ornare ...
            span.msg-time
              i.icon-time
              span
              |3:15 pm               
      li
        a(href="#")
          |See all messages
          i.icon-arrow-right  
  li.light-blue
    a.dropdown-toggle(data-toggle="dropdown" href="#")
      image.nav-user-photo(src="/lib/ace/avatars/andra.jpg" alt="Andra's Photo")
      span.user-info
        small
          |Welcome,
        |Andrija
      i.icon-caret-down
    ul.user-menu.pull-right.dropdown-menu.dropdown-yellow.dropdown-caret.dropdown-closer
      li
        a(href="#")
          i.icon-cog
          |Settings
      li
        a(href="#")
          i.icon-user
          |Profile  
      li.divider  
      li
        a(href="#")
          i.icon-off
          |Logout
