.DS_Store
.nodemonignore
.sass-cache/
node_modules/*
!node_modules/hersexecutable
!node_modules/hersdata
!node_modules/hersdb
public/lib/*
!public/lib/ace
!public/lib/ng-grid
!public/lib/hers-utils
!public/lib/fabric.js
!public/lib/hers_angular
!node_modules/herstimeout
test/coverage/
*.vim
*.sw*
