.DS_Store
.nodemonignore
.sass-cache/
node_modules/*
!node_modules/herstimeout
public/lib/*
!public/lib/ace
!public/lib/ng-grid
!public/lib/hers-utils
!public/lib/fabric.js
!node_modules/herstimeout
test/coverage/
*.vim
*.sw*
