[submodule "node_modules/hersdata"]
	path = node_modules/hersdata
	url = git@github.com:hers-belgrade/hersdata
[submodule "public/lib/hersangularclient"]
	path = public/lib/hersangularclient
	url = git@github.com:hers-belgrade/hersangularclient
[submodule "public/lib/ng-grid"]
	path = public/lib/ng-grid
	url = https://github.com/angular-ui/ng-grid.git
[submodule "node_modules/herstimeout"]
	path = node_modules/herstimeout
	url = git@github.com:hers-belgrade/herstimeout
[submodule "public/lib/fabric.js"]
	path = public/lib/fabric.js
	url = git@github.com:hers-belgrade/fabric.js
[submodule "node_modules/hersdb"]
	path = node_modules/hersdb
	url = git@github.com:hers-belgrade/hersdb
[submodule "public/lib/hers_angular"]
	path = public/lib/hers_angular
	url = git@github.com:hers-belgrade/angular.git
