.navbar .nav>li>a.brand {
    padding-left:20px;
    margin-left:0
}

.content {
    width:100%
}

footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:#ddd;
    -webkit-box-shadow:0 8px 6px 6px black;
    -moz-box-shadow:0 8px 6px 6px black;
    box-shadow:0 8px 6px 6px black
}

footer p {
    padding:5px 0 12px 10px
}
.menu-min .sidebar-shortcuts-large {
	width:176px;
	}

.left {
  float:left;
}
.ngViewport.ng-scope{
      height: auto !important;
          overflow-y: hidden;
}

.ngTopPanel.ng-scope, .ngHeaderContainer{
      width: auto !important;
}
.hr.dotted, .hr-dotted {
	border-top-style:dotted;
	}
div.infobox {
	width:188px;
	}
.navbar .navbar-inner {
	background-color:#333333;
	}
.breadcrumbs {
	background-color:#3a3a3a;
	border-bottom-color:#4f4f4f;
	}
.breadcrumb > li {
	text-shadow:0 1px 0 #000000;
	}
.breadcrumb > li > a {
	color:white;
	}
.breadcrumb > li, .breadcrumb > li.active {
	color:white;
	}
.page-content {
	background-color:#282828;
	}
.page-content .page-header:first-child h1 {
	color: #9deeff;
	}
.page-content .page-header:first-child h1 small {
	color: #3f8695;
	}
.page-content .page-header:first-child {
	border-bottom-color:#4f4f4f;
	}
.sidebar-shortcuts {
	background-color:#282828;	
	}
.sidebar {
	border-right-color:#4f4f4f;
	background-color:#3a3a3a;
	}
.sidebar:before {
	border-right-color:#4f4f4f;
	background-color:#3a3a3a;
	}
.nav-list > li {
	border-top-color:#8f8f8f;
	border-bottom-color:#000;
	}	
.nav-list > li > a {
	background-color:#595959;
	color:white;
	text-shadow: 1px 1px 0px #000 !important;
	}
.nav-list > li > .submenu > li > a {
	background-color:#4f4f4f;
	color:white;
	text-shadow: 1px 1px 0px #000 !important;
	}		
.nav-list > li > a:hover,
.nav-list > li.active > a,
.nav-list > li > .submenu > li > a:hover,
.nav-list > li > .submenu > li.active > a,
.navlist a:focus
 {
	text-shadow: none !important;
	}
.navlist > li > a:focus {
	outline:none;
	}	
.nav-list > li > .submenu > li > a:hover,
.nav-list > li > .submenu > li.active > a {
	background-color:white;
	}		
.nav-list > li .submenu {
	border-top-color:#000;
	}
.nav-list > li > .submenu:before {
	border-left-color:#8f8f8f;
	}	
.nav-list > li > .submenu > li:first-child > a {
	border-top-color:#8f8f8f
	}	
.nav-list > li .submenu > li a > [class*="icon-"]:first-child {
	background-color:#8f8f8f;
	color:white;
	}
.sidebar-collapse {	
background-color: #1e1e1e;
border-bottom-color: #8f8f8f;
}
.sidebar-collapse:before {
	border-top-color:#8f8f8f;
	}
.sidebar-collapse > [class*="icon-"] {
	background-color:#4f4f4f;
	border-color:#8f8f8f;
	color:white;
		text-shadow: 1px 1px 0px #000;
	}
.navbar .brand {
	padding-top:0;
	padding-bottom:0;
	}
.brand i.icon-leaf {
	font-size:37px;
	line-height:45px;
	}

html {
  height:100%;
}
body {
  height:100%;
}

section.content {
  position:relative;
  height:95%;
  background-color:#282828;
}
