@font-face {
    font-family: 'A1012HelvetikaCmprs TYGRA';
    src: url('a101hlcm-webfont.eot');
    src: url('a101hlcm-webfont.eot?#iefix') format('embedded-opentype'),
         url('a101hlcm-webfont.woff') format('woff'),
         url('a101hlcm-webfont.ttf') format('truetype'),
         url('a101hlcm-webfont.svg#a1012helvetikacmprs_tcompress') format('svg');
    font-weight: normal;
    font-style: normal;
}
