<div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" data-ng-click="cancel()">&times;</button>
		<h4 class="blue bigger" data-ng-show="!template.clone && template.name && template.name.length">Edit template {{template.name}}</h4>
		<h4 class="blue bigger" data-ng-show="!template._id && !template.clone">Create new template</h4>
		<h4 class="blue bigger" data-ng-show="template.clone">Clone template from {{template.clone}}</h4>
	</div>
  <div class="modal-body">
	<form name="form" class="form-horizontal" data-ng-submit="save($event)">
	  <label class="control-label" for="name">Name</label>
	  <div class="control">
	    <input type="text" name="name" data-ng-model="template.name" placeholder="Name" required ng-disabled="template._id">
	  </div>
	  <label class="control-label" for="columns">Columns</label>
	  <div class="control">
	    <select data-ng-model="template.columns" name="columns" id="columns" placeholder="Columns" required>
	      <option value="3">3</option>
	      <option value="5">5</option>
	    </select>
	  </div>
	  <label class="control-label" for="rows">Rows</label>
	  <div class="control">
	    <select data-ng-model="template.rows" name="rows" id="rows" placeholder="Rows" required>
	      <option value="3">3</option>
	    </select>
	  </div>
	
	  <label class="control-label" for="double_up_prob">Double Up probability</label>
	  <div class="control">
	    <input type="number" step="0.01" min="0" max="0.9" name="double_up_prob" data-ng-model="template.double_up_prob" placeholder="Probability" required>
	  </div>
	
	
	  <label class="control-label" for="max_paylines">Max. paylines</label>
	  <div class="control">
	    <input type="number" step="1" min="1" name="max_paylines" data-ng-model="template.max_paylines" placeholder="Max. paylines" required>
	  </div>
	
	  <label class="control-label" for="max_bet_per_line">Max. bet per line</label>
	  <div class="control">
	    <input type="number" step="1" min="1" name="max_bet_per_line" data-ng-model="template.max_bet_per_line" placeholder="Max. bet per line" required>
		</div>
	
	  <span>
	  </span>
	  <fieldset>
	
	  <button class='btn' data-ng-click="addSymbol($event)" data-ng-repeat-end data-ng-disabled="!template.columns">Add symbol</button>
		<button class='btn' data-ng-click="removeSymbol($event)" data-ng-repeat-end data-ng-disabled="template.symbolweightsmults && template.symbolweightsmults.length <= 2">Remove symbol</button>
	  <div class="gridStyle" ng-grid="gridSettings"></div>
	
	  </fieldset>
	</form>
  </div>
	<div class="modal-footer">
		<button class="btn btn-small" data-ng-click="cancel()">
			<i class="icon-remove"></i>
			Cancel
		</button>

    <button class='btn btn-small' data-ng-click="clone()" ng-hide="template.clone">Clone</button>
		<button class="btn btn-small btn-primary" data-ng-click="save()" ng-disabled="!template.name.length">
			<i class="icon-ok"></i>
			Save
		</button>
	</div>
</div>
