<div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" data-ng-click="cancel()">&times;</button>
		<h4 class="blue bigger">Please fill the following form fields</h4>
	</div>
  <div class="modal-body">
  	<form name="form" class="form-horizontal" data-ng-submit="save()">
      <input type="hidden" name="class" value="Poker">
			<div class="control-group">
				<label class="control-label" for="name">Name</label>
				<div class="controls">
					<input type="text" data-ng-model="template.name" placeholder="Name" required ng-disabled="existing">
				</div>
			</div>

			<div class="control-group">
				<label class="control-label"for="type">Type</label>
				<div class="controls">
	        <select data-ng-model="template.type" name="type" id="type" placeholder="Type" required>
	          <option value="CashTable">CashTable</option>
	          <option value="SitNGo">SitNGo</option>
	          <option value="ScheduledTournament">Scheduled Tournament</option>
	        </select>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="capacity">Capacity</label>
				<div class="controls">
        <select data-ng-model="template.capacity" name="capacity" id="capacity" placeholder="Capacity" required>
          <option value="2">Heads Up</option>
          <option value="6">Six Max</option>
          <option value="9">Nine Seater</option>
          <option value="10">Ten Seater</option>
        </select>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="bettingpolicy">Betting Policy</label>
				<div class="controls">
        <select data-ng-model="template.bettingpolicy" name="bettingpolicy" id="bettingpolicy" placeholder="Betting Policy" required>
          <option value="NL">No Limit</option>
          <option value="PL">Pot Limit</option>
          <option value="FL">Fixed Limit</option>
        </select>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="fixedlimitvalue" data-ng-show="needFLValue(template.bettingpolicy)">Fixed Limit Value</label>
				<div class="controls">
	        <input type="number" min="{{bigblind}}" step="{{bigblind}}" data-ng-model="template.fixedlimitvalue" name="fixedlimitvalue" id="fixedlimitvalue" placeholder="Fixed Limit Value" data-ng-required="needFLValue(bettingpolicy)">
				</div>
			</div>


    <div class="control-group">


      <label class="control-label" for="ante">Ante</label>
      <div class="control">
        <input type="number" data-ng-model="template.ante" name="ante" id="ante" placeholder="Ante">
      </div>
      <label class="control-label" for="bigblind">Big Blind</label>
      <div class="control">
        <input type="number" data-ng-model="template.bigblind" name="bigblind" id="bigblind" placeholder="Big Blind" required>
      </div>
      <label class="control-label" for="speed">Speed</label>
      <div class="control">
        <select data-ng-model="template.speed" name="speed" id="speed" placeholder="Speed" required>
          <option value="Standard">Standard</option>
          <option value="Fast">Fast</option>
          <option value="Turbo">Turbo</option>
        </select>
      </div>
      <label class="control-label" for="flavor">Flavor</label>
      <div class="control">
        <select data-ng-model="template.flavor" name="flavor" id="flavor" placeholder="Flavor" required>
          <option value="HoldEm">HoldEm</option>
          <option value="Omaha">Omaha</option>
          <option value="OmahaHILO">OmahaHILO</option>
        </select>
      </div>
      <label class="control-label" for="timeoutValue">Timeout</label>
      <div class="control">
        <input type="number" value="30" data-ng-model="template.timeoutValue" name="timeoutValue" id="timeoutValue">
      </div>
      <label class="control-label" for="bots">Number of Bots Allowed</label>
      <div class="control">
        <input type="number" max="{{capacity}}" data-ng-model="template.bots" name="bots" id="bots">
      </div>
    </div>
  </form>
  </div>
	<div class="modal-footer">
		<button class="btn btn-small" data-ng-click="cancel()">
			<i class="icon-remove"></i>
			Cancel
		</button>

		<button class="btn btn-small btn-primary" data-ng-click="save()">
			<i class="icon-ok"></i>
			Save
		</button>
	</div>
</div>