<section data-ng-controller="PokerTemplatesController" data-ng-init="list()">
  <button class='btn' data-ng-click="createNew()">Create New</button>
  <section data-ng-include="'/views/pokertemplates/create.html'"></section>
  <table>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Capacity</th>
      <th>Limit</th>
      <th>Ante</th>
      <th>Big Blind</th>
      <th>Speed</th>
      <th>Flavor</th>
      <th>Timeout</th>
      <th>Bots</th>
      <th>Instances</th>
    </tr>
    <tr data-ng-repeat="pt in templates" data-ng-click="setTemplate(pt)">
      <td>{{pt.name}}</td>
      <td>{{pt.type}}</td>
      <td>{{pt.capacity}}</td>
      <td>{{pt.bettingpolicy}} {{pt.fixedlimitvalue}}</td>
      <td>{{pt.ante}}</td>
      <td>{{pt.bigblind}}</td>
      <td>{{pt.speed}}</td>
      <td>{{pt.flavor}}</td>
      <td>{{pt.timeoutValue}}</td>
      <td>{{pt.bots}}</td>
      <td>{{pt.instances}}</td>
    </tr>
  </table>
</section>
