doctype html
html(lang='en', xmlns='http://www.w3.org/1999/xhtml', xmlns:fb='https://www.facebook.com/2008/fbml', itemscope='itemscope', itemtype='http://schema.org/Product')
  include ../includes/head
  body
    .navbar
      .navbar-inner
        .container-fluid
          a.brand(href="#")
            small
              i.icon-leaf
              |  PPW Games
          include ../includes/top-menu
    section.content.main-container.container-fluid
      a(href="#").menu-toggler#menu-toggler
        span.menu-text
      div#sidebar.sidebar
        div#sidebar-shortcuts.sidebar-shortcuts
          div#sidebar-shortcuts-large.sidebar-shortcuts-large
            button.btn.btn-small.btn-success
              i.icon-signal
            button.btn.btn-small.btn-info
              i.icon-pencil
            button.btn.btn-small.btn-warning
              i.icon-group
            button.btn.btn-small.btn-danger
              i.icon-cogs
          div#sidebar-shortcuts-mini.sidebar-shortcuts-mini 
            span.btn.btn-success             
            span.btn.btn-info             
            span.btn.btn-warning             
            span.btn.btn-danger
        ul.nav.nav-list
          li.active
            a(href="/")
              i.icon-dashboard
              span.menu-text
                |  Dashboard 
          li
            a(href="/#!/servers")
              i.icon-dashboard
              span.menu-text
                |  Servers 
          li
            a.dropdown-toggle(href="#")
              i.icon-dashboard
              span.menu-text
                |  Templates 
              b.arrow.icon-angle-down  
            ul.submenu
              li
                a(href="#!/pokertemplates")
                  i.icon-double-angle-right
                  |  Poker
        div#sidebar-collapse.sidebar-collapse
          i.icon-double-angle-left         
      section.main-content
        #breadcrumbs.breadcrumbs
          ul.breadcrumb
            li
              i.icon-home.home-icon
              a(href="#")
                |Home
              span.divider
                i.icon-angle-right.arrow-icon
            li.active
              |Dashboard
          #nav-search.nav-search
            form.form-search
              span.input-icon
                input#nav-search-input.input-small.nav-search-input(type="text" placeholder="Search ..." autocomplete="off")
                i.icon-search.nav-search-icon                
        div.page-content
          block content
    include ../includes/foot
